[Unit]
Description=Flask App Service
After=network.target

[Service]
User=flaskuser
Group=flaskuser
WorkingDirectory=/home/flaskuser/flaskapp
ExecStart=/usr/bin/python3 /home/flaskuser/flaskapp/app.py
Restart=always

[Install]
WantedBy=multi-user.target
